<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Task</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}">
    <div th:replace="fragments/dependencies"></div>
</head>
<body>
<div class="container-fluid">
    <div class="row full-cover" >
        <div class="col-md-4 bg-image d-flex justify-content-center align-items-center" style="background-color: rgba(0, 113, 255, 0.67)">
            <img src="../static/images/visuals/kanban3.jpg" th:src="@{/images/logo/logo_transparent.png}" alt="logo" class="logoReg">
        </div>
        <div class="col-md-8 d-flex flex-column align-items-center justify-content-center">
            <script>
                function validate() {
                    if ($("#taskName").valid() && $("#projectId").valid()) {
                        if ($("statusId").valid() || $("#parentId").valid()) {
                            return true
                        }
                    }
                    return false
                }
            </script>
            <form onsubmit="return validate()" action="/task/add" method="post" class="d-flex flex-column" style="width: 100%">
                <h2>Add Task to your project</h2>
                <h5>It will be displayed on the board</h5>
                <hr>
                <script>
                    $(document).ready(function () {
                        let defOpt = $('<option>')
                        defOpt.text("Choose one if available")
                        defOpt.val("0")
                        defOpt.prop('disabled', true)
                        $("#projectId").change(function () {
                            var ajaxCall = $.ajax({
                                dataType: 'json',
                                url: '/status/project/' + $("#projectId").val()
                            });
                            var usersAjaxCall = $.ajax({
                                dataType: 'json',
                                url: '/projects/' + $("#projectId").val() + '/users'
                            });
                            usersAjaxCall.done(function (data) {
                                let selector = $('#executors')
                                selector.empty()
                                selector.append(defOpt.clone())
                                for (let i = 0; i < data.length; i++) {
                                    let option = $('<option>')
                                    option.val(data[i].accountId)
                                    option.text(data[i].username)
                                    selector.append(option.clone())
                                }
                            })
                            ajaxCall.done(function(data) {
                                let status = $("#statusId")
                                let withParentStatus = $('#statusIdForTasks')
                                status.empty()
                                withParentStatus.empty()
                                status.append(defOpt.clone())
                                withParentStatus.append(defOpt.clone())
                                for (let i = 0; i < data.length; i++) {
                                    let option = $('<option>')
                                    option.val(data[i].statusId)
                                    option.text(data[i].statusName)
                                    status.append(option.clone())
                                    withParentStatus.append(option.clone())
                                }
                            });
                        })
                        $('#isParentBox').change(function () {
                            let box = $('#withParentId')
                            let noParentBox = $("#noParentId")
                            if (box.is(":visible")){
                                box.hide()
                                $("parentId").prop('required',false);
                                noParentBox.show()
                                $("statusId").prop('required',true);
                            } else {
                                box.show()
                                $("parentId").prop('required',true);
                                noParentBox.hide()
                                $("statusId").prop('required',false);
                            }
                        })
                        $('#statusIdForTasks').change(function () {
                            var ajaxCall = $.ajax({
                                dataType: 'json',
                                url: '/status/tasks/' + $("#statusIdForTasks").val()
                            });
                            ajaxCall.done(function(data) {
                                console.log(data)
                                let tasks = $("#parentId")
                                tasks.empty()
                                tasks.append(defOpt.clone())
                                for (let i = 0; i < data.length; i++) {
                                    let option = $('<option>')
                                    option.val(data[i].taskId)
                                    option.text(data[i].description)
                                    tasks.append(option.clone())
                                }
                            });
                        })
                    })
                </script>
                <div class="row">
                    <div class="col-md-12">
                        <div class="mb-4">
                            <label class="form-label" for="taskName">Task Name</label>
                            <input required type="text" id="taskName" class="form-control" name="taskName" />
                        </div>
                        <div class="mb-4">
                            <label class="form-label" for="projectId">Project</label>
                            <select required name="projectId" id="projectId" class="form-control">
                                <option value="0" disabled selected>Choose one if available</option>
                                <option th:each="membership : ${memberships}" th:object="${membership.project}" th:value="*{projectId}" th:text="*{projectName}"></option>
                            </select>
                        </div>
                        <div class="mb-4">
                            <input
                                    class="form-check-input"
                                    type="checkbox"
                                    value=""
                                    id="isParentBox"
                            />
                            <label class="form-check-label" for="isParentBox">
                                Is a subtask?
                            </label>
                        </div>
                        <div class="mb-4" id="noParentId">
                            <label class="form-label" for="statusId">Task Status</label>
                            <select name="statusId" id="statusId" class="form-control" required>
                                <option value="0" disabled>Choose one if available</option>
                            </select>
                        </div>
                        <div class="mb-4" id="withParentId" style="display: none">
                            <hr>
                            <label class="form-label" for="statusIdForTasks">Task Status</label>
                            <select id="statusIdForTasks" class="form-control">
                                <option value="0" disabled>Choose one if available</option>
                            </select>
                            <label class="form-label" for="parentId">Parent Task</label>
                            <select name="parentId" id="parentId" class="form-control">
                                <option value="0" disabled>Choose one if available</option>
                            </select>
                            <hr>
                        </div>
                        <div class="mb-4">
                            <label class="form-label" for="deadline">Deadline</label>
                            <input type="date" id="deadline" class="form-control" name="deadline" />
                        </div>
                        <div class="mb-4">
                            <label class="form-label" for="executors">Executors (Hold <span class="text-white bg-primary p-1">Ctrl</span> to choose multiple executors)</label>
                            <select multiple id="executors" class="form-control" name="executors">
                                <option value="0" disabled>Choose one if available</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-md-4">
                        <input type="submit" class="btn btn-primary btn-block ripple-surface" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

</body>
</html>