<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${project.projectName}"></title>
    <link rel="stylesheet" th:href="@{/css/dashboard.css}">
    <div th:replace="fragments/dependencies"></div>
</head>
<body class="vh-100 d-flex flex-column">
<div th:insert="fragments/projectTools :: navbar"></div>
<script th:replace="fragments/projectTools :: navbarPos"></script>
<script>
    $(document).ready(function () {
        $(".task").click(function () {
            let id = $(this).attr('id');
            location.href = "/task/" + id
        })
    })
</script>
<div class="container-fluid flex-grow-1" id="dashboard">
    <div class="row h-100 w-100">
        <div class="col-md-12 p-4 h-100 bg-image d-flex justify-content-center" style="
    background-image: url('static/images/visuals/windows-WJPHTJEtgzw-unsplash.jpg');
    height: 100vh;
  ">
            <div class="h-100 overflow-scroll d-flex border border-primary flex-row p-1 justify-content-start" id="board">
                <div th:each="taskStatus: ${taskStatusList}" class="category h-100 ms-2 me-2 p-0 border shadow-1-strong overflow-auto">
                    <div th:text="${taskStatus.statusName}" class="p-2 text-center w-10 border bg-info text-white"></div>
                    <div class="tasks overflow-auto">
                        <div th:each="task: ${taskStatus.taskList}" class="w-100 p-2">
                            <div th:object="${task}" th:id="*{taskId}" class="task w-100 bg-white p-1 border hover-shadow border-info">
                                <div th:text="*{description}" class="mb-1 text-primary">Продам гараж</div>
                                <div>
                                    <span th:if="*{subtasks.size() > 0}">Subtasks: <span th:text="*{subtasks.size()}"></span></span>
                                    <span th:if="*{taskExecutions.size() > 0}">Executors: <span th:text="*{taskExecutions.size()}"></span></span></div>
                                <div th:if="*{deadline != null}">Deadline: <span th:text="*{deadline}" class="text-danger"></span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
            <div class="offcanvas-header">
                <h5 id="offcanvasRightLabel">Offcanvas right</h5>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body" id="profile">
                <h3 th:text="${session.user.username}"></h3>
                <h4 th:text="${session.user.fullName}"></h4>
            </div>
        </div>
    </div>
</div>
</body>
</html>