<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${project.projectName}"></title>
    <link rel="stylesheet" th:href="@{/css/dashboard.css}">
    <div th:replace="fragments/dependencies"></div>
</head>
<body class="vh-100 d-flex flex-column" style="height: 100vh; background-color: #F6F6F6">
<div th:insert="fragments/projectTools :: navbar"></div>
<script th:replace="fragments/projectTools :: navbarPos"></script>
<script>
    $(document).ready(function () {
        $(".task").click(function () {
            let id = $(this).attr('id');
            location.href = "/task/" + id
        })
    })
</script>
<style>
    div.scrollmenu {
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;
    }

    div.scrollmenu div {
        vertical-align: top;
        display: inline-block;
        text-align: center;
    }
</style>
<script>
    $(document).ready(function () {
        let navRange = $("#navRange")
        navRange.val(0);
        let scrollMenu = $("#scrollMenu")
        let elem = document.getElementById("scrollMenu")
        navRange.change(function () {
            let w = elem.scrollWidth - elem.clientWidth;
            let val = navRange.val();
            let percent = val / 100;
            let res = Math.floor(w * percent);
            scrollMenu.scrollLeft(res)
        })
    })
</script>
<div class="container-fluid flex-grow-1" id="dashboard" style="max-width: 100%; min-height: 100%">
    <div class="w-100 d-flex flex-column align-items-center">
        <label for="navRange" class="form-label">Navigation</label>
        <input type="range" class="form-range" id="navRange" min="0" max="100" style="background-color: white">
    </div>
    <div class="scrollmenu h-100" id="scrollMenu">
                    <div th:each="taskStatus: ${taskStatusList}" class="h-100 card-box" style="width: 300px!important;">
                        <h4 th:text="${taskStatus.statusName}" class="text-dark header-title w-100"></h4>
                        <ul class="sortable-list taskList list-unstyled ui-sortable" id="upcoming">
                            <li th:each="task: ${taskStatus.taskList}" class="w-100 task-warning ui-sortable-handle taskList">
                                <div th:object="${task}" th:id="*{taskId}" class="w-100 task bg-white p-1 hover-shadow border">
                                    <p th:text="*{title}" class="text-left m-1"></p>
                                    <div class="w-100">
                                        <p class="float-right">
                                            <button type="button" class="btn btn-success btn-sm waves-effect waves-light">View</button>
                                        </p>
                                        <p class="float-left">
                                            <a href="" class="text-muted">
                                                <img th:if="*{creator.avatarId != null}" th:src="@{/image/{id}(id=*{creator.accountId})}" alt="task-user" class="thumb-sm rounded-circle mr-2">
                                                <img th:if="*{creator.avatarId == null}" src="https://cdn.icon-icons.com/icons2/1378/PNG/512/avatardefault_92824.png" alt="task-user" class="thumb-sm rounded-circle mr-2">
                                                <span class="font-bold font-secondary">

                                                        <a th:text="*{creator.username}" th:href="@{/profile/{id}(id=*{creator.accountId})}">

                                                        </a>
                                                </span>
                                            </a>
                                        </p>
                                    </div>
                                </div>
                            </li>
                        </ul><a th:href="@{/task/add}" class="btn btn-custom btn-block mt-3 waves-effect waves-light"><i class="fa fa-plus-circle"></i> Add New</a></div>

        <!-- container --></div>

</div>
</body>
</html>