<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Well done!</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}">
    <div th:replace="fragments/dependencies"></div>
</head>
<body>
<div class="container-fluid">
    <div class="row full-cover" >
        <div class="col-md-4 bg-image d-flex justify-content-center align-items-center" style="background-color: rgba(0, 113, 255, 0.67)">
            <img th:src="@{/images/logo/logo_transparent.png}" alt="logo" class="logoReg">
        </div>
        <div class="col-md-8 d-flex flex-column align-items-center justify-content-center">
            <h1>Well done!</h1>
            <h3>Check your email box to verify registration!</h3>
        </div>
    </div>
</div>
</body>
</html>