<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Task</title>
    <div th:replace="fragments/dependencies"></div>
</head>
<body>
<script>
    $(document).ready(function () {
        $(".task").click(function () {
            let id = $(this).attr('id');
            location.href = "/task/" + id
        })
        $('#deleteButton').click(function () {
            var ajaxCall = $.ajax({
                dataType: 'json',
                url: '/task/' + '[[${task.taskId}]]' + '/delete'
            });
            ajaxCall.done(function(data) {
                if (data == false) {
                    alert("Something went wrong!")
                } else {
                    window.location.assign("/projects/" + '[[${task.project.projectId}]]')
                }
            });
        })
        $('#statusId').change(function () {
            let val = $('#statusId').val()
            var ajaxCall = $.ajax({
                dataType: 'json',
                url: '/task/' + '[[${task.taskId}]]' + '/status/' + val
            });
            ajaxCall.done(function(data) {
                if (data == false) {
                    alert("Something went wrong!")
                } else {
                    alert("Status was changed!")
                }
            });
        })
    })
</script>
<!--<div class="container" th:object="${task}">-->
<!--    <div class="row p-5 m-1">-->
<!--        <div class="col-sm">-->
<!--            <h5 class="text-center">Deadline: <span th:text="*{deadline}"></span></h5>-->
<!--        </div>-->
<!--        <div class="col-sm">-->
<!--            <h5 class="text-center">Created by: <a th:text="*{creator.username}"></a></h5>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="row">-->
<!--        <h2 class="text-center" th:text="*{description}"></h2>-->
<!--    </div>-->



<!--    <h5 th:if="${task.parentTask != null}" th:object="${task.parentTask}" class="text-center">Parent Task: <a th:href="@{/task/{id}(id=*{taskId})}" th:text="*{description}"></a></h5>-->
<!--    <h3 class="text-center">Executors:</h3>-->
<!--    <div th:if="*{taskExecutions.size() == 0}" class="text-center">-->
<!--        No executors-->
<!--    </div>-->
<!--    <div th:each="execution: *{taskExecutions}">-->
<!--        <div th:object="${execution.account}" class="w-100 bg-white p-1 border">-->
<!--            <span th:text="*{username}"></span>-->
<!--        </div>-->
<!--    </div>-->
<!--    <h3 class="text-center">Subtasks:</h3>-->
<!--    <div th:if="*{subtasks.size() == 0}" class="text-center">-->
<!--        No subtasks-->
<!--    </div>-->
<!--    <div th:each="task: *{subtasks}" class="w-100 p-2">-->
<!--        <div th:object="${task}" th:id="*{taskId}" class="task w-100 bg-white p-1 border hover-shadow">-->
<!--            <div th:text="*{description}" class="mb-1 text-primary">Продам гараж</div>-->
<!--            <div>Subtasks: <span th:text="*{subtasks.size()}"></span></div>-->
<!--            <div>Deadline: <span th:text="*{deadline}" class="text-danger"></span></div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<link rel="stylesheet" th:href="@{/css/task.css}">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="content"  th:object="${task}">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <form th:action="@{/task/update}" method="post" class="card-box task-detail">
                    <a th:href="@{/projects/{id}(id=*{project.projectId})}"><- Return to project</a>
                    <div class="media mt-0 m-b-30">
                        <!--<img class="d-flex mr-3 rounded-circle" alt="64x64" src="https://bootdey.com/img/Content/avatar/avatar2.png" style="width: 48px; height: 48px;">-->
                        <div class="media-body d-flex align-items-center">
                            <h5 class="media-heading mb-0 mt-0">Creator: <a th:text="*{creator.username}"></a></h5>
                            <img th:if="*{creator.avatarId != null}" th:src="@{/image/{id}(id=*{creator.accountId})}" class="rounded-circle thumb-sm" alt="64x64">
                            <img th:if="*{creator.avatarId == null}" class="rounded-circle thumb-sm" alt="64x64" src="https://cdn.icon-icons.com/icons2/1378/PNG/512/avatardefault_92824.png">
                        </div>
                        <div th:if="${isUser}" style="margin-right: 10px">
                            <input type="button" class="btn btn-danger" value="Delete" id="deleteButton" />
                        </div>
                        <div th:if="${isUser}">
                            <input type="submit" class="btn btn-success" value="Update" />
                        </div>
                    </div>
                    <div>
                        <input type="hidden" name="taskId" th:value="*{taskId}">
                        <div class="form-group">
                            <h4 class="m-b-20 p">Title</h4>
                            <input th:readonly="${!isUser}" name="title" type="text" class="form-control" id="titleId" th:value="*{title}">
                        </div>
                        <div class="form-group">
                            <label for="descriptionId">Description</label>
                            <textarea th:readonly="${!isUser}" name="description" class="form-control" id="descriptionId" rows="3" th:text="*{description}"></textarea>
                        </div>
                    </div>
                    <ul class="list-inline task-dates m-b-0 mt-5">
                        <li th:if="*{createdAt != null}">
                            <h5 class="m-b-5">Creation date</h5>
                            <input readonly class="form-control" type="date" th:value="*{createdAt}" id="createdAtId">
                        </li>
                        <li>
                            <h5 class="m-b-5">Due Date</h5>
                            <input th:readonly="${!isUser}" name="deadline" class="form-control" type="date" th:value="*{deadline}" id="deadlineId">
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                    <div class="m-t-1" th:if="${task.parentTask == null}">
                        <h5 class="m-b-5">Status</h5>
                        <select id="statusId" th:readonly="${!isUser}" class="form-control" aria-label="Default select example">
                            <option th:each="status : *{project.taskStatuses}" th:value="${status.statusId}" th:text="${status.statusName}" th:selected="${status.statusId == task.status.statusId}"></option>
                        </select>
                    </div>
                    <!--<div class="task-tags mt-4">
                        <h5 class="">Tags</h5>
                        <div class="bootstrap-tagsinput"><span class="tag label label-info">Amsterdam<span data-role="remove"></span></span> <span class="tag label label-info">Washington<span data-role="remove"></span></span> <span class="tag label label-info">Sydney<span data-role="remove"></span></span>

                        </div>

                    </div>-->
                    <div class="assign-team mt-4">
                        <h5 class="m-b-5">Assigned to</h5>
                        <div th:if="*{taskExecutions.size() != 0}" class="d-flex align-items-center">
                            <a th:each="exec : *{taskExecutions}" th:href="@{/profile/{id}(id=${exec.getAccount().accountId})}">
                                <img th:if="${exec.account.avatarId != null}" th:src="@{/image/{id}(id=${exec.account.accountId})}" class="rounded-circle thumb-sm" alt="64x64">
                                <img th:if="${exec.account.avatarId == null}" class="rounded-circle thumb-sm" alt="64x64" src="https://cdn.icon-icons.com/icons2/1378/PNG/512/avatardefault_92824.png">
                            </a>
                            <!--<div class="dropdown">
                                <a class="fa fa-plus btn" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink" id="dropmenu">
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                </div>
                            </div>-->
                        </div>
                        <div th:if="*{taskExecutions.size() == 0}" >
                            No executors
                        </div>
                    </div>
                    <div class="assign-team mt-4">
                        <h5 class="m-b-5">Subtasks:</h5>
                        <div th:if="*{subtasks.size() == 0}">
                            <div>No subtasks</div>
                        </div>

                        <div class="row w-100 m-1">
                            <div th:each="subtask: *{subtasks}" th:id="${subtask.taskId}" class="col-sm-4 task bg-white p-1 hover-shadow border">
                                <p th:text="${subtask.title}" class="text-left m-1"></p>
                                <div class="d-flex justify-content-between">
                                    <p>
                                        <a th:href="@{/task/{id}(id=${subtask.taskId})}" type="button" class="btn btn-success btn-sm waves-effect waves-light">View</a>
                                    </p>
                                    <p>
                                        <a href="" class="text-muted">
                                            <img th:if="${subtask.creator.avatarId != null}" th:src="@{/image/{id}(id=${subtask.creator.accountId})}" alt="task-user" class="thumb-sm rounded-circle mr-2">
                                            <img th:if="${subtask.creator.avatarId == null}" src="https://cdn.icon-icons.com/icons2/1378/PNG/512/avatardefault_92824.png" alt="task-user" class="thumb-sm rounded-circle mr-2">
                                            <span class="font-bold font-secondary">

                                                        <a th:text="${subtask.creator.username}" th:href="@{/profile/{id}(id=${subtask.creator.accountId})}">

                                                        </a>
                                                </span>
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <!-- end col -->
            <div class="col-lg-4">
        <!-- end row -->
    </div>
    <!-- container -->
</div>
    </div>
</div>
</body>
</html>